.navigationList {
   list-style-type: none;
    margin: 10;
    padding: 0;
    width: 100%;
    height: 45px;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    /*background-color: #003399;*/
    text-align: center;
}

.navigationListItem {
    color: #000000;
    display: inline;
}


.navigationListItem a {
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
    display: inline;
}

/* Change the link color on hover */
.navigationListItem a:hover {
    /*background-color: #0099CC;*/
    color: #0099CC;
}


.activeListItem {
    background-color: #66CCFF;
    display: inline;
}

.activeLink {
    color: #003399;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
    display: inline;
}

.activeListItem:last-child {
    border-bottom: none;
}

.navigationListItem:last-child {
    border-bottom: none;
}

.TestClass {
    background-color: #6795e0;
}

.pageBackground {
    /*background-image: url('pictures/background.jpg');*/
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.paragraphTitle {
    text-align : center;
    font-size: 32px;
    font-family: chalkduster;
    color: #003399;
}

.paragraphBody {
    font-size: 18px; 
    color: #003399;
    text-align: justify;
}

.paragraphCopyright {
    font-size: 14px; 
    color: #003399;
    text-align: center;
    width: 100%;
}

li {
    font-size: 18px; 
    color: #003399;
}

td {
    font-size: 14px; 
    color: #003399;
}
sadfasdfa